@*@page "/"
    <PageTitle>Index</PageTitle>

    <div class="container">
        <div class="weather-info">
            <h1>Tangier Weather Information</h1>
            <p>Current Weather: Partly cloudy</p>
            <div class="weather-icon">
                <img src="https://img.freepik.com/vecteurs-premium/previsions-meteo-soleil-derriere-nuages-couvert_316839-4454.jpg" alt="Partly cloudy">
            </div>
            <p>Temperature: 16°C</p>
        </div>
        <div class="activity-suggestions">
            <h2>Activity Suggestions</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide card">
                        <h3>City Exploration</h3>
                        <p>Discover hidden gems in Tangier</p>
                        <div class="activity-image">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Tanger_cor.jpg" alt="City Exploration">
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <h3>Beach Activities</h3>
                        <p>Enjoy the sunny beaches of Tangier</p>
                        <div class="activity-image">
                            <img src="https://www.tracedirecte.com/media/original_images/tanger-maroc.jpg.1920x0_q85_format-jpg.jpg" alt="Beach Activities">
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <h3>Cultural Events</h3>
                        <p>Experience the rich culture of Tangier</p>
                        <div class="activity-image">
                            <img src="https://fr.le360.ma/resizer/5azJV3ieUnadB4njNHutgPpMC2g=/1216x684/filters:format(jpg):quality(70):focal(783x306:793x316)/cloudfront-eu-central-1.images.arcpublishing.com/le360/JJOQOIH5HFH63MK7NTE6VOUUPA.jpg" alt="Cultural Events">
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <h3>Nightlife</h3>
                        <p>Enjoy the vibrant nightlife in Tangier</p>
                        <div class="activity-image">
                            <img src="https://www.vinsetgastronomie.com/wp-content/uploads/2015/08/dar-souran-tanger-maison-d-hotes-maroc-tourisme-tangier.jpg" alt="Nightlife">
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <h3>Gastronomy</h3>
                        <p>Taste the delicious local cuisine</p>
                        <div class="activity-image">
                            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/17/cc/f4/ca/medina-of-tangier.jpg?w=1200&h=-1&s=1" alt="Gastronomy">
                        </div>
                    </div>
                </div>
    <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>*@



