html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/
body {
    font-family: Arial, sans-serif;
    background-color: #88ade0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: #1262e3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.weather-info, .activity-suggestions {
    background-color: #aae7c4;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    flex: 1;
    text-align: center;
}


    .weather-info h1, .activity-suggestions h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .weather-info p, .activity-suggestions p {
        font-size: 18px;
    }

.weather-icon img {
    width: 50px;
    height: 50px;
}

.swiper-container {
    width: 300px;
    height: 400px;
}

.card {
    background-color: #0080ff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

    .card:nth-child(2) {
        background-color: #ff8000;
    }

    .card:nth-child(3) {
        background-color: #00ff80;
    }

    .card:nth-child(4) {
        background-color: #8000ff;
    }

    .card:nth-child(5) {
        background-color: #ff0080;
    }

.activity-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}
